:root {
  --White: hsl(0, 100%, 100%);
  --Purple100: hsl(275, 100%, 97%);
  --Purple600: hsl(292, 16%, 49%);
  --Purple950: hsl(292, 42%, 14%);
}
@font-face {
  font-family: "Work Sans";
  src: url("assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("assets/fonts/WorkSans-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

body {
  background-color: rgb(170, 170, 201);
  margin: 0;
  padding: 0;
}
h1 {
  display: flex;
  /* background-color: aliceblue; */
  font-family: "Work Sans", sans-serif;
}

.faqsandStar {
  display: flex;
  /* background-color: orange; */
}
.headingQuestion {
  margin-left: 20px;
  display: flex;
  gap: 15px;
}
.starImage {
  margin-right: 20px;
  margin-left: 20px;
}
.back {
  background-color: red;
}
.changeback {
  background-color: yellow;
}

p {
  font-size: 16px;
}

@media (min-width: 375px) {
  body {
    background-color: orange;
  }
}
@media (min-width: 1440px) {
  body {
    background-color: var(--Purple100);
  }
  .deskTopbackImage {
    width: 100%;
  }
}
